/* Global Variables */

:root{
  --rw-black: #0D0D11;
  --rw-red: #e53935;
  --rw-yellow: #F4D03F;
}



body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--rw-black)
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vmin;   /* Scaled relative to the smaller screen dimension */
  height: 80vmin;  /* Keeps the grid a perfect, fluid square */
  gap: 0.5vmin;    /* Relative spacing between cells */
  margin: 5vmin;
}


/* Wooden Grain colo */
.grid div {
  background-color: var(--rw-yellow);
}

/* To get XX on the baord [4,5], [25, 33], [32, 40], [60, 61], [28, 29, 36, 37], [1, 8, 57, 64] */
.xx{
  background: 
  linear-gradient(to bottom right, transparent calc(50% - 2px), #0D0D11 calc(50% - 2px), #0D0D11 calc(50% + 2px), transparent calc(50% + 2px)),
  linear-gradient(to top right, transparent calc(50% - 2px), #0D0D11 calc(50% - 2px), #0D0D11 calc(50% + 2px), transparent calc(50% + 2px));
}

.title{
  text-align: center;
  color: var(--rw-yellow);
}